<?php

return [
    'logger'       => [
        'cleanup'    => false, // true or false
        'limitation' => 20,
        'storage'    => 'mysql', // mysql, mongodb, file, disable
        'mongodb'    => [
            'uri'        => 'mongodb://localhost:27017',
            'database'   => 'XXX',
            'collection' => 'logger_system',
        ],
        'file'    => [
            'path'        => 'LOCAL_PATH',
            'date_format' => 'Y-m-d',
        ],
    ]
];